AI Portfolio Tracker & Live Stock Agent.json
{
  "name": "AI Portfolio Tracker & Live Stock Agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "5e56f522-6eed-4201-ae26-53d0a2aa4b04",
      "name": "When chat message received",
      "webhookId": "025a5dbc-16a5-408f-b1e7-7d9f0a6a621e"
    },
    {
      "parameters": {
        "model": "arcee-ai/trinity-large-preview:free",
        "options": {
          "maxTokens": 4000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        224,
        224
      ],
      "id": "f8b805a0-9aeb-45d6-88fc-598fac49b0c0",
      "name": "OpenRouter Chat Model",
      "retryOnFail": false,
      "waitBetweenTries": 1000,
      "alwaysOutputData": false,
      "credentials": {
        "openRouterApi": {
          "id": "CrPOiEnNK3ONIorf",
          "name": "OpenRouter account 8"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId || \"default\" }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        352,
        224
      ],
      "id": "3dd640b5-630b-4cf3-b8c8-3ae58c90dda3",
      "name": "Simple Memory",
      "executeOnce": true
    },
    {
      "parameters": {
        "symbols": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Ticker', ``, 'string') }}",
        "filters": {
          "latest": true,
          "sort": "ASC"
        }
      },
      "type": "n8n-nodes-base.marketstackTool",
      "typeVersion": 1,
      "position": [
        496,
        304
      ],
      "id": "25eed3a4-60ff-42fd-87d9-7da9c7721ce6",
      "name": "Get many EoD data in Marketstack",
      "credentials": {
        "marketstackApi": {
          "id": "vw6GyJBf2oy8SXqa",
          "name": "Marketstack account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a stock analysis assistant.\n\nYou must use the tool \"stock_analysis_tool\" for any stock data.\n\nDo not answer on your own.\nReturn only tool output.",
          "returnIntermediateSteps": false,
          "enableStreaming": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "a3f61941-3b14-4315-bd19-3a13885398e1",
      "name": "AI Agent",
      "executeOnce": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1zaU282A7hZ2xl_szqVPTqsEnUBcDiujFIJnsvWWqzJQ",
          "mode": "list",
          "cachedResultName": "portfolio",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zaU282A7hZ2xl_szqVPTqsEnUBcDiujFIJnsvWWqzJQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zaU282A7hZ2xl_szqVPTqsEnUBcDiujFIJnsvWWqzJQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        608,
        144
      ],
      "id": "88fb887e-6535-4324-b438-7b34c5568893",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h4bKwrnhv6FlyRuj",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1zaU282A7hZ2xl_szqVPTqsEnUBcDiujFIJnsvWWqzJQ",
          "mode": "list",
          "cachedResultName": "portfolio",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zaU282A7hZ2xl_szqVPTqsEnUBcDiujFIJnsvWWqzJQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zaU282A7hZ2xl_szqVPTqsEnUBcDiujFIJnsvWWqzJQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ticker": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ticker', ``, 'string') }}",
            "price": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('price', ``, 'string') }}"
          },
          "matchingColumns": [
            "ticker"
          ],
          "schema": [
            {
              "id": "ticker",
              "displayName": "ticker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        640,
        320
      ],
      "id": "28465466-e2fb-4744-8ca6-dae86b916d8a",
      "name": "Update row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h4bKwrnhv6FlyRuj",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get many EoD data in Marketstack": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "dc002cc4-beb0-4b1e-873e-0800abf3604c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e11d21a36598d771ed695674858db5edb78c7073c4b4093dde63ca0cfe7a769a"
  },
  "id": "CFq5HCyMUxfbsxPr",
  "tags": []
}